body {
	font-family: Georgia, Palatino Linotype, Book Antiqua, Palatino, serif;
	padding: 10px;
	background-color: #FFF8DC;
}

#page {
	border-bottom: 1px dotted black;
}

#poem {
	text-align:left;
}

#buttons {
}